<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item ml-5">
                <h1 class="app-name has-gradient-text">Kanban</h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">My Board</p>
        </div>

        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                @for(column of board.columns; track column) {
                <div class="board-column">
                    <div class="column-title">
                        {{column.name}}
                    </div>

                    <div cdkDropList [cdkDropListData]="column.tasks" class="tasks-container"
                        (cdkDropListDropped)="drop($event)">
                        @for (item of column.tasks; track item) {
                        <div class="task" cdkDrag>{{item}}</div>
                        }
                    </div>
                </div>
                }


            </div>
        </div>
    </div>
</div>